* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    padding: 0 8vw;
    font-size: 14px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    color: #ccc;
    line-height: normal;
    background-color: #000 !important ;
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.main {
    background-color:  #404040;
}

#navbar {
    display: flex;
    padding: 20px; 
    border-bottom: 1px solid #1887b2;
    background-color: #404040;
}

#navbar .logo {
    flex : 1   
}

#navbar .search-bar {
    flex : 2 ;
    margin: 0 20px; 
}
.search-bar form {
    width: 100%;
    height: 100%;
    border: 1px solid;
    padding: 20px 9px 9px 11px;
    background-color: black;
    border-radius: 5px;
}

.search-bar input {
    width : 90%;
    line-height : 100%; 
    outline: none;
    border : none; 
    background-color: black;
    color : #4040C1;
}
.search-bar button {
    border : none;
    background: none;
    color : #4040C1;
}
.search-bar button i {
    background-color: none;
    transition: all 0.3s;
}
.search-bar button i::before {
    font-size: 20px;
}



#navbar .icon {
    display: flex; 
    flex: 1; 
    justify-content: space-around;
}
#navbar a, button{
    display: block; 
    text-decoration: none;
    padding: 7px 19px;
    margin: 3px;
    font-size: 20px;
    display: inline-flex;
    background-color: #000;
    border: 1px solid #404040;
    border-radius: 5px;
    transition: all 0.3s; 
}
#navbar a:hover  i {
    color : rgb(200, 210, 180);

}
#navbar button:hover  i {
    color : rgb(200, 210, 180);

}
.icon i { 
    margin-top: 10px;
    font-size: 22px;
    color : #4040FC
}

.icon .ac i {
    color: rgb(204, 204, 103);
}

.drop_down {
    display: flex;
    flex-direction:column; 

}
.un_active {
    display: none;
}
.tab-links {
    display: flex;
    flex-direction: row;
     
}
.tab-links a {
    background: #1c1c1c;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    font-weight: 500;
    text-decoration: none;
    color : white; 
    font-size: 20px;
    transition: all 0.3s; 
}
.tab-links a:hover {
    background: #1c1c1c;
    opacity : 0.7;
}
.tab-content, .tab-item {
    width: 100%;
}


.tab-content, .tab-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.tab-content .tab-item a {
    min-width: 20%;
    text-align: center;
    padding: 18px;
    box-sizing: border-box;
    border: 2px solid #141414;
    font-size: 13px;
    background: #000;
    font-size: 17px;
    text-decoration: none;
    text-decoration: none;
    color: #cac9c9;
    transition: all 0.3s;
}
.tab-content .tab-item a:hover {
    background-color:#615d5d;
}


.tab-links .tab-active {
    background: #9c3737;
}
.tab-links .tab-active:hover {
    background: #9c3737;
    opacity: 1;
    color : white;
}
.tab-links .tab-active:hover a {
    
}

.tab-content .un_active {
    display : none; 
}